<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="/style.css">
    <title>Sellsword++</title>
</head>
<body background="http://i.imgur.com/zXv7Qvh.png">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Sellsword++</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/customer/form">Add customers</a></li>
                <li><a href="/sellsword/add">Add sellsword</a></li>
                <li><a href="/sellsword/all">All sellsword</a></li>
                <li><a href="/customer/all">All customer</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="textdiv" style="width:800px; margin: 0 auto;">
    <h1>Witaj na Sellsword++</h1>
    <p>Najpierw dodaj zleceniodawce i zadanie</p>
    <p>Następnei dodaj najemnika i wybierz zadanie</p>
</div>


</body>
</html>